<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css">
    <title>Parko</title>
</head>
<body ng-app="Parko">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h1 id="appTitle">Parko</h1>
        </div>
    </md-toolbar>
    <div class="content" ng-controller="ConfigController" layout-margin layout="column" flex ng-cloak >
        <section flex md-whiteframe="1">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2 class="md-flex">Configurações Gerais</h2>
                </div>
            </md-toolbar>
            <md-content flex layout-padding>
                <form name="configForm">
                    <md-input-container class="md-block">
                        <label>Controles Disponíveis</label>
                        <input required type="number" step="any" name="availableControllers" ng-model="config.availableControllers"
                            min="1" max="50" />
                        <div ng-messages="configForm.availableControllers.$error" multiple md-auto-hide="true">
                            <div ng-message="required">
                                Campo Requerido
                            </div>
                            <div ng-message="min">
                                Quantidade Mínima Inválida
                            </div>
                            <div ng-message="max">
                                Quantidade Máxima Inválida
                            </div>
                        </div>
                    </md-input-container>
                    <footer layout="row" layout-sm="column" layout-wrap>
                        <md-button class="md-raised md-primary"
                                   ng-disabled="configForm.availableControllers.$pristine || !configForm.$valid">Salvar</md-button>
                    </footer>
                </form>
            </md-content>
        </section>

        <section flex md-whiteframe="1">
            <md-toolbar class="usersHeader md-table-toolbar">
                <div class="md-toolbar-tools">
                    <span class="md-flex">Usuários Cadastrados</span>
                </div>
                <md-fab-speed-dial class="usersDial">
                     <md-fab-trigger>
                         <md-button aria-label="menu" class="md-fab md-warn" ng-click="openEditionWindow($event)">
                             <md-icon md-svg-src="assets/img/icons/plus.svg"></md-icon>
                         </md-button>
                     </md-fab-trigger>
                 </md-fab-speed-dial>
            </md-toolbar>
            <md-content flex layout-padding>
                <md-table-container>
                    <table md-table md-row-select="false" multiple ng-model="selected">
                        <thead md-head>
                            <tr md-row>
                                <th md-column><span>Cód.</span></th>
                                <th md-column><span>Nome</span></th>
                                <th md-column md-numeric>E-mail</th>
                                <th md-column md-numeric>Marca</th>
                                <th md-column md-numeric>Modelo</th>
                                <th md-column md-numeric>Cor</th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row md-select="user" md-select-id="id" md-auto-select ng-repeat="user in config.users">
                                <td md-cell>{{user.id}}</td>
                                <td md-cell>{{user.name}}</td>
                                <td md-cell>{{user.email}}</td>
                                <td md-cell>{{user.vehicle.vendor}}</td>
                                <td md-cell>{{user.vehicle.model}}</td>
                                <td md-cell>{{user.vehicle.color}}</td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>

                <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{config.users.length}}" md-page-select></md-table-pagination>
            </md-content>
        </section>
    </div>

    <script src="assets/js/main.js"></script>

</body>
</html>
