<md-dialog ng-cloak>
    <form name="userForm">
        <md-toolbar >
            <div class="md-toolbar-tools">
                <h2>Novo Usuário</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block">
                    <label>Nome</label>
                    <input md-maxlength="30" required name="name" ng-model="user.name">
                    <div ng-messages="userForm.name.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-raised md-primary"
                       ng-click="save()"
                       ng-disabled="userForm.$valid">
                Salvar
            </md-button>
            <md-button class="md-raised" ng-click="cancel()">
                Cancelar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
