<md-dialog ng-cloak>
    <form name="blockerUserForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Bloquear Usuário</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="assets/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>

        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-raised md-primary"
                       ng-click="save(user)"
                       ng-disabled="!userForm.$valid || userForm.$pristine || saving">
                {{saving ? 'Salvando' : 'Salvar'}}
            </md-button>
            <md-button class="md-raised" ng-click="cancel()">
                Cancelar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
