<section flex md-whiteframe="1">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 class="md-flex">Configurações Gerais</h2>
        </div>
    </md-toolbar>
    <md-content flex layout-padding>
        <form name="configForm" ng-controller="ConfigController">
            <md-input-container class="md-block">
                <label>Controles Disponíveis</label>
                <input required type="number" step="any" name="availableControllers" ng-model="config.availableControllers"
                    min="1" max="50" />
                <div ng-messages="configForm.availableControllers.$error" multiple md-auto-hide="true">
                    <div ng-message="required">
                        Campo Requerido
                    </div>
                    <div ng-message="min">
                        Quantidade Mínima Inválida
                    </div>
                    <div ng-message="max">
                        Quantidade Máxima Inválida
                    </div>
                </div>
            </md-input-container>
            <footer layout="row" layout-sm="column" layout-wrap>
                <md-button class="md-raised md-primary"
                           ng-disabled="!configForm.$valid || saving"
                           ng-click="save(configForm)">{{saving ? 'Salvando': 'Salvar'}}</md-button>
            </footer>
        </form>
    </md-content>
</section>

<section flex md-whiteframe="1" ng-controller="UserController">
    <md-toolbar class="usersHeader md-table-toolbar">
        <div class="md-toolbar-tools">
            <span class="md-flex">Usuários Cadastrados</span>
        </div>
        <md-fab-speed-dial class="usersDial">
             <md-fab-trigger>
                 <md-button aria-label="menu" class="md-fab md-warn" ng-click="openEditionWindow($event)">
                     <md-icon md-svg-src="assets/img/icons/ic_add_24px.svg"></md-icon>
                 </md-button>
             </md-fab-trigger>
         </md-fab-speed-dial>
    </md-toolbar>
    <md-content flex layout-padding>
        <md-table-container>
            <table md-table md-row-select="false" multiple ng-model="selected" md-progress="promise">
                <thead md-head>
                    <tr md-row>
                        <th md-column><span>Nome</span></th>
                        <th md-column>E-mail</th>
                        <th md-column>Marca</th>
                        <th md-column>Modelo</th>
                        <th md-column>Placa</th>
                        <th md-column>Cor</th>
                        <th md-column>Bloqueado?</th>
                        <th md-column>Ações</th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row md-select="user" md-select-id="id" md-auto-select ng-repeat="user in users">
                        <td md-cell>{{user.name}}</td>
                        <td md-cell>{{user.email}}</td>
                        <td md-cell>{{user.vehicle.vendor}}</td>
                        <td md-cell>{{user.vehicle.model}}</td>
                        <td md-cell>{{user.vehicle.plate}}</td>
                        <td md-cell>{{user.vehicle.color}}</td>
                        <td md-cell>{{user.status ? 'Sim' : 'Não'}}</td>
                        <td md-cell>
                            <md-menu>
                                <md-button aria-label="Open Actions Menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                    <md-icon md-menu-origin md-svg-src="assets/img/icons/ic_more_vert_black_24px.svg"></md-icon>
                                </md-button>
                                <md-menu-content>
                                    <md-menu-item>
                                        <md-button ng-click="openEditionWindow($event, user)">Editar</md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="blockUser($event, user)">{{user.isBlocked ? 'Desbloquear' : 'Bloquear'}}</md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="delete($event, user)">Remover</md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>

        <md-table-pagination md-limit="query.limit"
                             md-limit-options="[5, 10, 15]"
                             md-page="query.page"
                             md-total="{{query.count}}"
                             md-on-paginate="getUsers"
                             md-page-select></md-table-pagination>
    </md-content>
</section>
